/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body {
    background-color: #093b4b;
}

h1 {
    color: white;
    font-size: 70px;
    margin: 22px 0;
    text-align: center;
}

#container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* Number's square */
.square {
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 20px;
    background-color: #1289b2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fizz {
    background-color: #09d6a0;
}

.buzz {
    background-color: #ffd166;
}

.fizzbuzz {
    background-color: #f14670;
}